.card{
  width: 30%;
  margin-bottom: 1.2rem;
  border-radius: 8px;
  border: 2px solid #f1f4f8;
  padding: 1rem;
  font-size: 0.9rem;
}
.card:hover{
  border: 2px solid #dadbdd;
}

.text{
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.bold{
  font-weight: bold;
}

.code{
  margin: 0;
  font-weight: bold;
}

@media (max-width: 992px) {
  .card{
    width: 40%;
  }
}

@media (max-width: 768px) {
  .card{
    width: 50%;
  }
}

@media (max-width: 600px) {
  .card{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .card{
    width: fit-content;
  }
}