.app{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 28% 72%;
  grid-template-rows: auto;
  grid-template-areas: 
    'sidebar gradient'
  ;
}

.gradient{
  grid-area: gradient;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

.scroll{
  color: rgba(255,255,255,.5);
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0.8rem 0.5rem 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1024px) {
  .app{
    grid-template-columns: 30% 70%;
  }
}

@media (max-width: 992px) {
  .app{
    grid-template-columns: 35% 65%;
  }
}

@media (max-width: 768px) {
  .app{
    grid-template-columns: 45% 55%;
  }
}

@media (max-width: 600px) {
  .app{
    grid-template-columns: 55% 45%;
  }
}

@media (max-width: 500px) {
  .app{
    grid-template-columns: 64% 36%;
  }
}

@media (max-width:425px) {
  .app{
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
  }
}

@media (max-width: 375px) {
  .app{
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
      'sidebar'
      'gradient'
    ;
  }
}